body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
main {
    flex: 1 0 auto;
}
h1, h2, h3, h4, h5 {
    text-shadow: 1px 1px 3px #550000;
}
.slider {
    background-color: none;
}
nav {
    background: #ff9800;
    border: none;
}
.nav-wrapper {
    margin: 0;
    color: #ff9800;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
}
.input-field::after {
    border-radius: 15px;
}
#search {
    font-size: 1.5em;
}
.slider .indicators .indicator-item.active {
    background-color: #ee6e73;
}
/* Overlapping the main containers  */
#main-body-wrapper {
    width: 100%;
    height: 440px;
    position: relative;
  }
  .card-content,
  .card-tabs,
  #background-fade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .card-content {
      height: 48px;
  }
  #background-fade {
      z-index: 5;
      background-color: black;
      /* Change me!!! */
      opacity: .2;
      height: 440px;
  }
  .card-tabs {
      z-index: 10;
  }
  /* End the overlapping main container.  Need to fix clear additional tabs. */
#main-image-element {
    background-color: lime;
    height: 20em;
    width: 20em;
}

  #site-icons {
    width: 20em;
    height: 3em;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
}

  .social-button {
      height: 2em;
      width: 2em;
  }

.class  