body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
main {
    flex: 1 0 auto;
}
h1, h2, h3, h4, h5 {
    text-shadow: 1px 1px 3px #550000;
}